#light {
    border: 5px solid rgb(255, 0, 144);
    background-color: white;
    color: black;

p {
    color: aqua;
}

.piglet {
  background-color: white;
  color: black;
  padding: 30px;
}

h3 {
    color: blueviolet;
    background-color: black;
    padding: 20px
}

h2 {
    color: aquamarine;
}

h1 {
    color: blue;
}
}